
@import "../../../../scss/variables";
@import  url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


@font-face {
    font-family: Tajwal;
    src: url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
}
.main-header{
    margin-top: 2.5rem;
    margin-right: 2rem;
}
.welcome-icon{
    width: 1.3rem;
    height: 1.3rem;
    margin-top: 0.9rem;
}
.welcome-text{
    font-size: 1.1rem;
    margin-right: 0.8rem;
    font-weight: 600;
    margin-top: 0.7rem;
}

.date-picker{
    position: relative !important;
    display: inline-flex !important;
    width: 150px !important;
    height: 35px !important;
    margin-top: 0.5rem;
}

.fa-calendar-days{
    font-size: 5px !important;
}
.menu-button{
    margin-right: 10rem;
    color: white;
    background-color: $primaryColor;
    border: 1px solid transparent;
}

.pipe-img{
    width: 50%;
}
.pipe-number{
    top: 58%;
    left: 38%;
}
.text-orange{
    color: $primaryColor;
}
.fa-sliders{
    color: $primaryColor;
    border: #E1E1E1 1px solid;
    border-radius: 0.5rem;
}


.pipes-quantity , .accessories-quantity, .charts{
    border-radius: 8px;
    border: #E1E1E1 1px solid;
}
.fw-normal{
    font-weight: 600 !important;
}
.acc-img{
    width: 47%;
}

.pipes-select{
    width: 200px;
    height: auto;
}

.dashboard-content{
    overflow-y: scroll;
    height: 500px;
}
.dashboard-content::-webkit-scrollbar {
    display: none !important;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
//   .dashboard-content {
//     -ms-overflow-style: none !important;  /* IE and Edge */
//     scrollbar-width: none !important;  /* Firefox */
//   }
  .modal-dialog{
    max-width: 700px !important;
  }
  select{
    width: 300px;
  }
  .apply-btn{
    background-color: $primaryColor;
  }

  .Tajwal{
    font-family: "Tajwal" ;
    color: aqua;
  }
  .small{
    font-size: 14px;
  }