<div class="container mt-0 pt-0 px-0">
  
  <div class="main">
    <div class="main-header d-flex justify-content-end">
      <div class="date-range-box mx-3">
        <button class="menu-button p-2 rounded-3"> تصدير القائمة </button>
          <p-calendar formControlName="date" [inputStyle]="{'font-size':'13.5px' , 'padding':'5px' }"   icon="fa-solid fa-calendar-days text-black px-0 mx-0"     styleClass="date-picker"
          dateFormat="d/MM/y"  [showButtonBar]="true" utc="true"  [showIcon]="true" class="date-picker" >  </p-calendar>
          <span class="mx-1">من</span>
          <p-calendar formControlName="date"   [inputStyle]="{'font-size':'13.5px' ,'padding':'5px'}"   icon="fa-solid fa-calendar-days text-black px-0 mx-0"   styleClass="date-picker "
          dateFormat="d/MM/y"  [showButtonBar]="true"  [showIcon]="true" class="date-picker" >  </p-calendar>
          <span class="mx-1">إلى</span>

      </div>

      <p class="welcome-text fs-5">أهلا بعودتك, مصطفى</p>
      <img src="assets/dashboard-home/Group 40299.png" class="welcome-icon">
      </div>
      <div class="dashboard-content mt-4 mx-3">
         <div class="items-quantity d-flex justify-content-end">
        <div class="col-5 mt-2 align-items-end align-content-end justify-content-end ">
          <div class="row justify-content-end accessories-quantity py-3  rounded-2 mx-2 me-3 text-end">
            <div class="header d-flex justify-content-between">
              <i class="fa-solid fa-sliders me-2 p-2 pointer" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
          
              <h2 class="text-end ms-3 fw-bold">عدد الإكسسوارات
          </h2>
            </div>
          
          
            <div class="col-12 mt-3 text-center">
              <div class="d-flex">
                <div class="acc-box  w-100">
                  <h3 class="fw-normal">لي غاز</h3>
            
                  <img src="assets/dashboard-home/Group 40402.png" class="acc-img mt-4 text-center">
               <p class=" mt-2  mb-1 fw-normal text-black acc-number">987</p>
               </div>
                  <div class="acc-box position-relative w-100">
                    <h3 class="fw-normal">منظم إسطوانة</h3>
            
                 <img src="assets/dashboard-home/Group 40403.png" class="acc-img mt-4 text-center">
              <p class=" mt-2  mb-1 fw-normal text-black acc-number">987</p>
              </div>
            
              </div>
            </div>
          </div>
      
                  </div>
        <div class="col-7 mt-2 align-items-end align-content-end justify-content-end ">
          <div class="row  justify-content-end pipes-quantity py-4  rounded-2  mx-3 text-end">
          
           
            <div class="header d-flex justify-content-between">
              <i class="fa-solid fa-sliders me-2 p-2 pointer" data-bs-toggle="modal" data-bs-target="#exampleModal2"></i>

              <h2 class="text-end ms-3 fw-bold">عدد الإسطوانات
</h2>
            </div>
          
<div class="col-6 mt-3 text-center">
  <div class="d-flex">
    <div class="pipe-box position-relative w-100">
      <h3 class="fw-normal">فايبر (فارغ)</h3>

      <img src="assets/dashboard-home/Layer_x-1.png" class="pipe-img mt-4 text-center">
   <p class="position-absolute fw-bold text-orange pipe-number">987</p>
   </div>
      <div class="pipe-box position-relative w-100">
        <h3 class="fw-normal">فايبر (متاح)</h3>

     <img src="assets/dashboard-home/Layer_x0020_1.png" class="pipe-img mt-4 text-center">
  <p class="position-absolute fw-bold text-white pipe-number">987</p>
  </div>

  </div>

 

</div>
<div class="col-6 mt-3 text-center">
  <div class="d-flex">
    <div class="pipe-box position-relative w-100">
      <h3 class="fw-normal">حديد (فارغ)</h3>

      <img src="assets/dashboard-home/Layer_x-1.png" class="pipe-img mt-4 text-center">
   <p class="position-absolute fw-bold text-orange pipe-number">987</p>
   </div>
      <div class="pipe-box position-relative w-100">
        <h3 class="fw-normal">حديد (متاح)</h3>

     <img src="assets/dashboard-home/Layer_x0020_1.png" class="pipe-img mt-4 text-center">
  <p class="position-absolute fw-bold text-white pipe-number">987</p>
  </div>

  </div>

 

</div>

          </div>
        </div>
     
        
        

      </div>
      <div class="pipes-chart d-flex justify-content-end">
        <div class="col-12">
          <div class=" row justify-content-end charts py-3  rounded-2 mx-3 mt-4 text-end">
            <div class="header d-flex justify-content-between">
              <i class="fa-solid fa-sliders me-2 p-2 pointer"  data-bs-toggle="modal" data-bs-target="#exampleModal3"></i>
          
              <h2 class="text-end ms-2 fw-bold">مبيعات الإسطوانات
          </h2>
            </div>
            <div class="chart">
              <div style="text-align:center">
                <apx-chart
                  [series]="series"
                  [chart]="chart"
                  [xaxis]="xAxis"
                  [yaxis]="yAxis"
                  [plotOptions]="plotOptions"
                  [dataLabels]="dataLabels"
                  [legend]="legend"
                  [fill]="fill"
                ></apx-chart>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="accessories-chart d-flex justify-content-end">
        <div class="col-12">
          <div class=" row justify-content-end charts py-3  rounded-2 mx-3 mt-4 text-end">
            <div class="header d-flex justify-content-between">
              <i class="fa-solid fa-sliders me-2 p-2 pointer"  data-bs-toggle="modal" data-bs-target="#exampleModal4"></i>
          
              <h2 class="text-end ms-2 fw-bold">مبيعات الإكسسوارات
          </h2>
            </div>
            <div class="chart">
              <div style="text-align:center">
                <apx-chart
                  [series]="series2"
                  [chart]="chart2"
                  [xaxis]="xAxis2"
                  [yaxis]="yAxis2"
                  [plotOptions]="plotOptions2"
                  [dataLabels]="dataLabels2"
                  [legend]="legend2"
                  [fill]="fill2"
                ></apx-chart>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="devices-employees-charts  d-flex justify-content-end">
         <div class="col-7 mt-3  align-items-end  py-2 align-content-end justify-content-end ">
          <div class="employees-box row justify-content-end charts py-3  rounded-2 mx-3  text-end ">
            <div class="header d-flex justify-content-between mt-1">
            <i class="fa-solid fa-sliders me-1 p-2 pointer" data-bs-toggle="modal" data-bs-target="#exampleModal6"></i>
        
            <h2 class="text-end ms-3 fw-bold"> عدد العمال المتاحين 
        </h2>
          </div>
        <div id="chartdiv" style="width: 100%; height: 200px"></div>
        <div>
          <canvas id="confirmedGeoCanvas"></canvas>
        </div>
        
          </div>
          
         

        </div> 
        <div class="col-5 mt-3  align-items-end  py-2 align-content-end justify-content-end ">
          <div class="devices-box row  justify-content-end charts py-3  rounded-2 mx-3  text-end">
             <div class="header d-flex justify-content-between mt-1">
            <i class="fa-solid fa-sliders me-1 p-2 pointer" data-bs-toggle="modal" data-bs-target="#exampleModal5"></i>
        
            <h2 class="text-end ms-3 fw-bold">حالة الأجهزة <br>
        </h2>
          </div>
          <div class="row mx-2 d-flex justify-content-end">
            <p class="text-start small">عدد الأجهزة : <span class="fw-bold">180</span></p>
          </div>
          <div class="chart mt-3">
            <div style="text-align:center">
              <apx-chart
                [series]="series3"
                [chart]="chart3"
                [plotOptions]="plotOptions3"
                [dataLabels]="dataLabels3"
                [legend]="legend3"
                [fill]="fill3"
                [labels]="labels"
              ></apx-chart>
            </div>

          </div>
          </div>
         

        </div> 
       

      </div>
      
      </div>
     

  </div>
 
  </div>
  <!-- filtration Modals-->
  <div class="modal fade accessories-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
          <div class="row close justify-content-end mx-2 my-1">
            <button type="button" class="btn-close border-1 border rounded-2 p-1" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="row header mt-3 justify-content-end mx-2">
            <h2 class="text-start fw-bold fs-5 mx-0 px-0"> تصنيف</h2>
          </div>
          <div class="row selection-labels mt-3 justify-content-between ">
            <div class="col-6">
                          <p class="text-start">الحي</p>

            </div>
            <div class="col-6">
                          <p class="text-start ms-2">المنطقة</p>

            </div>

          </div>
          <div class="row selections mt-2 justify-content-between mx-2 ">
            <select id="district" class="form-select form-select-sm  me-3" aria-label="Default select example" >
              <option selected class="text-start ">اختر الحي</option>
              <option value="1" class="text-start">الرياض</option>
              <option value="2" class="text-start">مكة</option>
              <option value="3" class="text-start">المدينة</option>
            </select>

 <select class="form-select form-select-sm  " aria-label="Default select example" >
            <option selected class="text-start ">اختر المنطقة</option>
            <option value="1" class="text-start">الرياض</option>
            <option value="2" class="text-start">مكة</option>
            <option value="3" class="text-start">المدينة</option>
          </select>
          </div>
          <div class="row mt-5 footer justify-content-center">
            <button data-bs-dismiss="modal" class=" btn w-50 apply-btn text-white">تطبيق</button>


          </div>
         
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade pipes-modal" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
          <div class="row close justify-content-end mx-2 my-1">
            <button type="button" class="btn-close border-1 border rounded-2 p-1" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="row header mt-3 justify-content-end mx-2">
            <h2 class="text-start fw-bold fs-5 mx-0 px-0"> تصنيف</h2>
          </div>
          <div class="row selection-labels mt-3 justify-content-between ">
            <div class="col-6">
                          <p class="text-start">الحي</p>

            </div>
            <div class="col-6">
                          <p class="text-start ms-2">المنطقة</p>

            </div>

          </div>
          <div class="row selections mt-2 justify-content-between mx-2 ">
            <select id="district" class="form-select form-select-sm  me-3" aria-label="Default select example" >
              <option selected class="text-start ">اختر الحي</option>
              <option value="1" class="text-start">الرياض</option>
              <option value="2" class="text-start">مكة</option>
              <option value="3" class="text-start">المدينة</option>
            </select>

 <select class="form-select form-select-sm  " aria-label="Default select example" >
            <option selected class="text-start ">اختر المنطقة</option>
            <option value="1" class="text-start">الرياض</option>
            <option value="2" class="text-start">مكة</option>
            <option value="3" class="text-start">المدينة</option>
          </select>
          </div>
          <div class="row mt-5 footer justify-content-center">
            <button data-bs-dismiss="modal" class=" btn w-50 apply-btn text-white">تطبيق</button>


          </div>
         
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade pipes-chart" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
          <div class="row close justify-content-end mx-2 my-1">
            <button type="button" class="btn-close border-1 border rounded-2 p-1" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="row header mt-3 justify-content-end mx-2">
            <h2 class="text-start fw-bold fs-5 mx-0 px-0"> تصنيف</h2>
          </div>
          <div class="row selection-labels mt-3 justify-content-between ">
            <div class="col-6">
                          <p class="text-start">الحي</p>

            </div>
            <div class="col-6">
                          <p class="text-start ms-2">المنطقة</p>

            </div>

          </div>
          <div class="row selections mt-2 justify-content-between mx-2 ">
            <select id="district" class="form-select form-select-sm  me-3" aria-label="Default select example" >
              <option selected class="text-start ">اختر الحي</option>
              <option value="1" class="text-start">الرياض</option>
              <option value="2" class="text-start">مكة</option>
              <option value="3" class="text-start">المدينة</option>
            </select>

 <select class="form-select form-select-sm  " aria-label="Default select example" >
            <option selected class="text-start ">اختر المنطقة</option>
            <option value="1" class="text-start">الرياض</option>
            <option value="2" class="text-start">مكة</option>
            <option value="3" class="text-start">المدينة</option>
          </select>
          </div>
          <div class="row mt-5 footer justify-content-center">
            <button data-bs-dismiss="modal" class=" btn w-50 apply-btn text-white">تطبيق</button>


          </div>
         
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade pipes-chart" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
          <div class="row close justify-content-end mx-2 my-1">
            <button type="button" class="btn-close border-1 border rounded-2 p-1" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="row header mt-3 justify-content-end mx-2">
            <h2 class="text-start fw-bold fs-5 mx-0 px-0"> تصنيف</h2>
          </div>
          <div class="row selection-labels mt-3 justify-content-between ">
            <div class="col-6">
                          <p class="text-start">الحي</p>

            </div>
            <div class="col-6">
                          <p class="text-start ms-2">المنطقة</p>

            </div>

          </div>
          <div class="row selections mt-2 justify-content-between mx-2 ">
            <select id="district" class="form-select form-select-sm  me-3" aria-label="Default select example" >
              <option selected class="text-start ">اختر الحي</option>
              <option value="1" class="text-start">الرياض</option>
              <option value="2" class="text-start">مكة</option>
              <option value="3" class="text-start">المدينة</option>
            </select>

 <select class="form-select form-select-sm  " aria-label="Default select example" >
            <option selected class="text-start ">اختر المنطقة</option>
            <option value="1" class="text-start">الرياض</option>
            <option value="2" class="text-start">مكة</option>
            <option value="3" class="text-start">المدينة</option>
          </select>
          </div>
          <div class="row mt-5 footer justify-content-center">
            <button data-bs-dismiss="modal" class=" btn w-50 apply-btn text-white">تطبيق</button>


          </div>
         
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade pipes-chart" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
          <div class="row close justify-content-end mx-2 my-1">
            <button type="button" class="btn-close border-1 border rounded-2 p-1" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="row header mt-3 justify-content-end mx-2">
            <h2 class="text-start fw-bold fs-5 mx-0 px-0"> تصنيف</h2>
          </div>
          <div class="row selection-labels mt-3 justify-content-between ">
            <div class="col-6">
                          <p class="text-start">الحي</p>

            </div>
            <div class="col-6">
                          <p class="text-start ms-2">المنطقة</p>

            </div>

          </div>
          <div class="row selections mt-2 justify-content-between mx-2 ">
            <select id="district" class="form-select form-select-sm  me-3" aria-label="Default select example" >
              <option selected class="text-start ">اختر الحي</option>
              <option value="1" class="text-start">الرياض</option>
              <option value="2" class="text-start">مكة</option>
              <option value="3" class="text-start">المدينة</option>
            </select>

 <select class="form-select form-select-sm  " aria-label="Default select example" >
            <option selected class="text-start ">اختر المنطقة</option>
            <option value="1" class="text-start">الرياض</option>
            <option value="2" class="text-start">مكة</option>
            <option value="3" class="text-start">المدينة</option>
          </select>
          </div>
          <div class="row mt-5 footer justify-content-center">
            <button data-bs-dismiss="modal" class=" btn w-50 apply-btn text-white">تطبيق</button>


          </div>
         
        </div>
        
      </div>
    </div>
  </div>
  <div class="modal fade pipes-chart" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body">
          <div class="row close justify-content-end mx-2 my-1">
            <button type="button" class="btn-close border-1 border rounded-2 p-1" data-bs-dismiss="modal" aria-label="Close"></button>

          </div>
          <div class="row header mt-3 justify-content-end mx-2">
            <h2 class="text-start fw-bold fs-5 mx-0 px-0"> تصنيف</h2>
          </div>
          <div class="row selection-labels mt-3 justify-content-end ">
           
            <div class="col-6">
                          <p class="text-start ms-2">المنطقة</p>

            </div>

          </div>
          <div class="row selections mt-2 justify-content-end  mx-2 ">
          

 <select class="form-select form-select-sm  " aria-label="Default select example" >
            <option selected class="text-start ">اختر المنطقة</option>
            <option value="1" class="text-start">الرياض</option>
            <option value="2" class="text-start">مكة</option>
            <option value="3" class="text-start">المدينة</option>
          </select>
          </div>
          <div class="row mt-5 footer justify-content-center">
            <button data-bs-dismiss="modal" class=" btn w-50 apply-btn text-white">تطبيق</button>


          </div>
         
        </div>
        
      </div>
    </div>
  </div>
    <!-- filtration Modals-->