<div class="container">
    <div class="row mx-2 justify-content-end header-container position-relative">
        <div class="col-6 ">

             <div class="profile-box mt-3 w-auto pt-2 d-flex justify-content-end">
                <div class=" text-start  d-flex-column align-content-start  ms-2">

                <p class=" text-end  name">مصطفى ربيع</p>
                <p class=" text-end position me-4">المدير المسؤول</p>  
                </div>
              

<div class="profile-image">
                    <img class="d-inline ms-3 ps-3" src="../../../../assets/dashboard-home/Ellipse 414.png">

</div>
<div class="header-icons mt-2">
    <i class="fa-solid fa-bell py-2 px-2 ms-4"></i> 
    <i class="fa-solid fa-gear py-2 px-2 me-3"></i> 
</div>
              
        </div> 
        </div>
      
        <div class="col-6">
         <div class="search-box  w-auto d-flex justify-content-end mt-4 pt-2 position-relative">
    <input type="text" class="search form-control" placeholder="...البحث">
    <i class="fa-solid fa-magnifying-glass position-absolute"></i>  
</div>   
        </div>


    </div>
</div>


