
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import "../../../../scss/variables";

  #sidebar header a:hover {
    color: #fff;
  }
  
  #sidebar .nav a{
    text-decoration: none;
    color: black;

  }
  #sidebar .nav li a{
padding-top: 0.7rem !important;
padding-bottom: 0.7rem !important;
color: #5D5D5D;
// padding-left: 9.938rem !important;
margin-left: 1rem;
margin-right: 1rem;

  }
 
  .nav-item{
    padding-right: 1rem;
  }
  #sidebar .nav li{
    background: none;
    font-family: 'Tajawal', sans-serif;
    margin-bottom: 0.6rem !important;
    
   

    
  }
  .active{
    background: $primaryColor !important;
    color: white !important;
    border-radius: 0.5rem !important;
  }
  li a:hover {
    background-color: #f3610081;
    border-radius: 8px;
    

  }
  
  // #sidebar .nav a i{

  // }

.logo{
    margin:1.5rem 4.188rem 2.5rem 4.188rem;
    
}
i{
  padding-right: 1rem;
  padding-top: 0.188rem;
}
#sidebar{
  height: 35rem !important;
  overflow-y: scroll !important;
  -ms-overflow-style: none;
  scrollbar-width: none ;
}
#sidebar::-webkit-scrollbar{
  display: none;
}
.active-icon{
  color: $primaryColor !important;
}