
  <div class="row my-0 justify-content-center py-0">
   <img src="../../../assets/dashboard-home/real logo.png" [routerLink]="'dashboard'" class="w-75 logo pointer"> 
</div>
<div class="row my-0 py-0 justify-content-end">
    <div id="sidebar">
       
        <ul class=" px-0 py-0 my-0 nav d-flex flex-column align-items-end align-content-end">
          <li class="w-100 ">
            <a class="d-flex justify-content-end " [routerLink]="'dashboard'"  [routerLinkActive]="'active'">
              <p class="d-inline nav-item py-0 my-0 ">القائمة الرئيسية </p><i class="fa-solid fa-grip"></i> 
            </a>
          </li>
          
          <li class="w-100" >
            <a  class="d-flex justify-content-between pointer" id="stations" (click)="toggleIcon()" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" [routerLinkActive]="'active'"  >
              <span class="me-3 ps-3 ">            <i  class="fa-solid fa-chevron-down small"   id="toggle-icon"></i>
              </span>
              <div class="list-item "  [routerLink]="'stations'">
                <p class="d-inline nav-item py-0 my-0">المحطات  </p><i  class="fa-solid fa-building"></i>

              </div>
      
              
            </a>
          </li>
          <div id="collapseExample" class="ms-3 collapse">
            <li class="w-100 ">
              <a href="#" class="d-flex justify-content-end">
                <p class="d-inline nav-item py-0 my-0">الأجهزة</p><i id="fa-desktop" class="fa-solid fa-desktop"></i> 
              </a>
              
            </li>
            <li class="w-100 ">
              <a href="#" class="d-flex justify-content-end">
                <p class="d-inline nav-item py-0 my-0">الإسطوانات  </p><i class="fa-solid fa-pump-soap"></i>
              </a>
            </li>
            <li class="w-100 ">
              <a href="#" class="d-flex justify-content-end">
                <p class="d-inline nav-item py-0 my-0 me-3">الإكسسوارات  </p><i class="fa-solid fa-sitemap"></i>
              </a>
            </li>
            <li class="w-100 ">
              <a href="#" class="d-flex justify-content-end">
                <p class="d-inline nav-item py-0 my-0"> العمال </p><i class="fa-solid fa-users"></i>
              </a>
            </li>
          </div>
         
          <li class="w-100" >
            <a  class="d-flex justify-content-between pointer" (click)="toggleIcon2()" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2" >
              <span class="me-3 ps-3 "  >    <i class="fa-solid fa-chevron-down small" id="toggle-icon2"></i>
              </span>
              <div class="list-item">
                <p class="d-inline nav-item py-0 my-0">الموظفون</p><i class="fa-solid fa-user-tie"></i>

              </div>
      
              
            </a>
          </li>
        <div id="collapseExample2" class="ms-3 collapse">
          <li class="w-100 ">
            <a href="#" class="d-flex justify-content-end">
              <p class="d-inline nav-item py-0 my-0 me-3">الصلاحيات</p><i class="fa-solid fa-user-lock"></i> 
            </a>
            
          </li>
        </div>
          <li class="w-100 ">
            <a href="#" class="d-flex justify-content-end">
              <p class="d-inline nav-item py-0 my-0"> المعاملات </p><i class="fa-solid fa-right-left"></i>
            </a>
          </li>
         
          <li class="w-100 ">
            <a href="#" class="d-flex justify-content-end">
              <p class="d-inline nav-item py-0 my-0"> التقارير </p><i class="fa-solid fa-receipt"></i> 
            </a>
          </li>
          <li class="w-100 ">
            <a href="#" class="d-flex justify-content-end">
              <p class="d-inline nav-item py-0 my-0"> الشكاوى </p><i class="fa-solid fa-file-invoice"></i> 
            </a>
          </li>
          <li class="w-100 ">
            <a href="#" class="d-flex justify-content-end">
              <p class="d-inline nav-item py-0 my-0"> الإعدادات </p><i class="fa-solid fa-gear"></i> 
            </a>
          </li>
         
       
        </ul>
      </div>
</div>  
