@import "../../../../scss/variables";
@import  url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


@font-face {
    font-family: Tajwal;
    src: url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
}
body{
    font-family: "Tajwal" !important;
}
.header{
    margin-top: 2.5rem;
    margin-right: 2rem;
}
input::placeholder{
    text-align: end;
    color: #D1D5DB;
    font-size: 14px;
    padding-top: 1rem;

  
}
.search{
border-color: #E1E1E1 !important;
border-radius: 0.5rem !important;
text-align: end;
width: 20rem;
padding-top: 0.3rem;
padding-bottom: 0.3rem;
margin-right: 7rem;


}
.fa-magnifying-glass{
    top: 1.2rem;
    right: 25.5rem;
    color: $primaryColor;
}
.fa-filter{
    border: #E1E1E1 1px solid;
    border-radius: 0.5rem;
    color: $primaryColor ;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;


}
.addStation-button{
    margin-right: 5.3rem;
    color: white;
    background-color: $primaryColor;
    border: 1px solid transparent;
}

.small{
    font-size: 0.8rem;
}
// th{
//     padding-left: 1.9rem;
//     padding-right: 1.9rem;
// }

.ag-root-wrapper {
    border: 0px transparent !important; 
}
th{
    color: #8D8D8D;
    font-weight: 400;
}
// .table-header{
// position: relative;
// }
// .table-header::after{
//     position: absolute;
//     content: "";
//     width: 90%;
//     background-color: #E1E1E1;
//     top:180%;
//     left: 8%;
//     height: 0.5px;

// }
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
}

.table{
    height: 440px;
    // overflow-y: scroll;  
    -ms-overflow-style: none;
    scrollbar-width: none ;
    margin-bottom: 40px !important;
}
.table::-webkit-scrollbar{
    display: none;
}
td{
    height: 10px;
    font-weight: 500;
}
tr{
    position: relative;
}
.data-row::after{
    position: absolute;
    content: "";
    width: 90%;
    background-color: #E1E1E1;
    top:22%;
    left: 7%;
    height: 0.5px;
}
.fa-ellipsis{
    color: $primaryColor;
    border: #E1E1E1 1px solid;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
.dropdown-menu{
    width: 80px !important;
}
.fa-circle-exclamation{
    color: #8D8D8D;
}
.fa-desktop, .fa-pump-soap , .fa-sitemap , .fa-users, .fa-chart-simple  {
    color: $primaryColor;
}
.fa-trash-can{
    color: red;
}
.modal-dialog{
    max-width: 700px !important;
  }
  select, input{
    width: 300px;
  }
  .apply-btn{
    background-color: $primaryColor;
  }
  .modal-lg{
    max-width: 1000px !important;
}
.assign-button{
    background-color: $primaryColor;
    border: none;
    border-radius: 0.5rem;
}